/* 
    Documents
*/



.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20vh auto;
}

.container a{
    display: flex;
    transition: 500ms ease-in-out;
    padding: 4vmin;
    margin: auto auto;
    justify-content: center;

}


.container a:hover{

    cursor: pointer;
    text-decoration: underline;

}

