/* 
    Disable Selection
*/

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

/* 
    Load all images on page load to fix visual bugs.
*/

body:after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(/img/sideshot/2.png) url(/img/sideshot/CutBW.png);
}

/* 
    Background Color of page.
*/
body{
    background-color: #e7e7e7;

}
/* 
    Main container
*/


/* 
    Primary Image
*/

.headshot{
    
    width: 35vmin;
    height: 35vmin;
    margin-top: 23vh;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    visibility: hidden;
    z-index: -5;
    


}

.headshot div{
    opacity: 0;
    width: 35vmin;
    height: 35vmin;
    margin-top: 23vh;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 1s opacity ease-in-out;
    z-index: 1;



}



/* 
    Links
*/

.Links{

    display: flex;
    justify-content: center;
    margin: 6vmin auto 0;
    z-index: 2;
}



.Hover_Link{
    margin: 0 0.4vmin;
    z-index: 2;

}
.Hover_Link:hover{
    
    cursor: pointer;
    text-decoration: underline;

}


/* 
    Mail Link
*/

.copy-link{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vmin;
    z-index: 2;


}


.copy-link-input{
    display: none;
    z-index: 2;
}
.copy-link-button{
    z-index: 2;

}

.copy-link-button:hover{

    cursor: pointer;
    z-index: 2;
}

main{

    display: flex;
    position: absolute;
    transform: translateY(-30vh);
    z-index: 0;
    height: 100vh;

}