<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport:" content="width=device-width, initial-scale=1.0">
    <title>bodenstein</title>
    <link rel="icon" href="/img/favicon/favicon.ico" type="image/icon">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/projectpage.css">
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/switchImg.js" defer></script>
    <script src="/js/fullscreen.js" defer></script>



</head>


<body>




    <!-- Image Gallery -->
    <div class="content">
        <div class="project">  
            <div class="small-img">
                <img class="picto" src="/Project 18/1.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 18/2.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 18/3.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 18/4.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 18/5.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 18/6.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 18/7.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 18/8.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 18/9.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 18/10.jpg" alt="" onclick="switchImg(this)">



            </div>
            <div class="img-container">
                <img class="active" id="imageBox" src="/Project 18/1.jpg" ng-if="option=='image'" onclick="FullView(this.src)"> 
                <video class="active" id="vidBox" controls onclick="FullView(this.src)"> <source src="" type="video/mp4" ng-if="option=='video'"></video>
            </div> 
        </div>

  

        <!-- Title -->
        <div class="text">
            <h1 class="title">
                Grey Box Testing
            </h1>
                    
            <!-- Explanation Text -->
            <p class="body">
                Die hohen Löhne der Mitarbeiter:innen von global agierenden Tech- Konzernen in der San Francisco Bay Area haben zur Folge, dass sich Angestellte anderer Berufsfelder trotz Vollzeit Job immer häufiger keinen festen Wohnsitz in der Region mehr leisten können. Eine vierköpfige Familie lebt trotz mehr als 100 000 Dollar Jahreseinkommen bereits offiziell unter dem Existenzminimum. So suchen Teile einer verarmten und in Obdachlosigkeit geratenen Mittelschicht der US-Amerikanischen Westküste in den Winkeln und Restflächen der Städte Zuflucht und errichten sich dort temporäre Existenzen: Kombinationen aus Autos, Wohnwägen, Zelten und Planen prägen die Ränder ganzer Straßenzüge. Die immer größer werdende Kluft zwischen Arm und Reich auf engstem Raum und die hierdurch ausgelösten Verdrängungsmechanismen, führen zu einer Art
„Supergentrifizierung“. <br>
<br>

In der VR-Arbeit SILICON VALLEY. Mittelschicht am Rand werden einige der konkreten Folgen dieser sozialen Abstiege sichtbar gemacht. Auf einem kleinen Ausschnitt der riesigen Parkplatzfläche, die das Meta Hauptquartier in Menlo Park nahe San Francisco umgibt und dieses zu einer vom umgebenen Stadtraum separierten Insel werden lässt, zeigen die Autoren des VR-Projekts auf szenisch ausschnitthafte Weise die Wohn- und Lebensrealität derer, die keinen hochbezahlten Job in der Tech-Branche innehaben: Einen 24 Stunden am Tag fahrenden, öffentlichen Bus der nachts als Schlafplatz genutzt wird; eine notdürftig aus Planen errichtete Zeltunterkunft; ein Auto, das zum letzten privaten Rückzugsraum geworden ist; eine von staatlicher Stelle errichtete Siedlung für Obdachlose aus Kleinstarchitekturen, die trotz aufdringlich bunter Farbgebung durch ihre rigide Abgrenzung zum öffentlichen Raum eher den Eindruck eines (Straf) Lagers macht.
<br>
<br>
Bruchstücke dieser virtuellen Szenen werden als physische „Übersprung- Objekte“ im Galerieraum des Bunkers sichtbar und spiegeln die bedrückende gesellschaftliche und soziale Situation dieses immer größer werdenden Teils von Bewohner:innen der Region wieder.
            </p> 
            <br><br>
            <p style="font-style:italic;font-size: x-small;">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                In Zusammenarbeit mit Till Maruschek, Björn Oswald
            </p>
        </div>
    </div>
    

    <!-- Fullscreen --> 

    <div id="FullImageView">
        <img id="FullImage">
        <span id="CloseButton" onclick="CloseFullView()"></span>
    </div>
 


    <!-- Mail Copy Button --> 

    <div class="Home">
        <button class="Home">
            <a href="/html/projects.html" class="hidden">&#9750; </a>
            <a href="/html/projects.html" class="shown">&#9751; </a>
        </button>
    </div>
    
</body>
</html>