<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport:" content="width=device-width, initial-scale=1.0">
    <title>bodenstein</title>
    <link rel="icon" href="/img/favicon/favicon.ico" type="image/icon">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/projectpage.css">
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/switchImg.js" defer></script>
    <script src="/js/fullscreen.js" defer></script>



</head>


<body>




    <!-- Image Gallery -->
    <div class="content">
        <div class="project">  
            <div class="small-img">
                <img class="picto" src="/Project 13/1.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 13/2.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 13/3.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 13/4.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 13/5.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 13/6.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 13/7.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 13/8.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 13/9.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 13/10.jpg" alt="" onclick="switchImg(this)">



            </div>
            <div class="img-container">
                <img class="active" id="imageBox" src="/Project 13/1.jpg" ng-if="option=='image'" onclick="FullView(this.src)"> 
                <video class="active" id="vidBox" controls onclick="FullView(this.src)"> <source src="" type="video/mp4" ng-if="option=='video'"></video>
            </div> 
        </div>

  

        <!-- Title -->
        <div class="text">
            <h1 class="title">
                Digitales Gestalten 1
            </h1>
                    
            <!-- Explanation Text -->
            <p class="body">
                Surrounded by the never sleeping Tokio, the Yokohama cemetery lies, directly in its heart. Giving a secluded quiet space for the dead to rest.
Beeing one of the oldest and biggest cemeteries in Tokio, Yokohama cemetery has a lot of requests for last resting places. 
The demand is only growing due to the current circumstances. 
The growing demand is putting more pressure on the cemetery to provide new spaces for rest.
Due to the expansion of the area not beeing possible the cemetery is thinking about new ways to create spaces for the dead.
The proposal suggests a tower on a empty plot in the cemetery. Not thinking about a cemetery that only funtions as a space in horizontal dimension. but also as one in the Vertical.
The tower will inhabit a crematoy, offices, places for religios ceremonys and a columbarium that spreads over multiple floors.
The conter of it all will be the visitor who will have time and space to grief and think about the deceased and their own life.
<br>
<br>
<br>
The design is based on the traditional gravesstone in japanese culture, the so called 五輪塔 Gorintō. This padoga like tower consists of 5 segments each representing different elements:
<br>
<br>
The first Element stands for the earth 地 chi, which takes the form of a cube, quader <br>
The second element stands for water 水 sui, which takes the form of a sphere    <br>
The third element stands for fire 火 ka, which takes the form of a pyramid  <br>
The fourth element stands for air 風 fū, which takes the form of a crescent <br>
The fith  element stands for sky/void 空 kū, and takes the form of a lotusflower    <br>
<br>
There are different meanings to the 5 rings, but also for the Gorinto. As a tombstone the Gorinto symbolises the transition from pysical body back to their original elemtal form.
<br>
<br>
The design takes inspiration from the Gorinto and produces a space inside the tower that reflects the ideas of the five elements. Each so called ring carves itself into the tower.
All five rings together create a public space inside the tower that sits in between the outside world and the world of the columbarium. The created air space carves itself from bottom to the top of the tower and connects all the 5 rings with one another.
<br>
<br>




In Japan on one of the oldest cemeteries has problems accquring new space for graves. While the population in Japan is aging at a rapid rate and space, especially in Tokio is hihly sought after, Yokohama cemetery
needs a more creative aproach to generate the wanted space.


More space for graves is needed. The proposal suggest building a tower inhabiting a cemetery, places for religios ceremonys a columbarium that spreads over multiple floors.

            </p> 
        </div>
    </div>
    

    <!-- Fullscreen --> 

    <div id="FullImageView">
        <img id="FullImage">
        <span id="CloseButton" onclick="CloseFullView()"></span>
    </div>
 


    <!-- Mail Copy Button --> 

    <div class="Home">
        <button class="Home">
            <a href="/html/projects.html" class="hidden">&#9750; </a>
            <a href="/html/projects.html" class="shown">&#9751; </a>
        </button>
    </div>
    
</body>
</html>