<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport:" content="width=device-width, initial-scale=1.0">
    <title>bodenstein</title>
    <link rel="icon" href="/img/favicon/favicon.ico" type="image/icon">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/projectpage.css">
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/switchImg.js" defer></script>
    <script src="/js/fullscreen.js" defer></script>



</head>


<body>




    <!-- Image Gallery -->
    <div class="content">
        <div class="project">  
            <div class="small-img">
                <img class="picto" src="/Project 15/1.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 15/2.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 15/3.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 15/4.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 15/5.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 15/6.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 15/7.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 15/8.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 15/9.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 15/10.jpg" alt="" onclick="switchImg(this)">



            </div>
            <div class="img-container">
                <img class="active" id="imageBox" src="/Project 15/1.jpg" ng-if="option=='image'" onclick="FullView(this.src)"> 
                <video class="active" id="vidBox" controls onclick="FullView(this.src)"> <source src="" type="video/mp4" ng-if="option=='video'"></video>
            </div> 
        </div>

  

        <!-- Title -->
        <div class="text">
            <h1 class="title">
                Digitales Gestalten 2
            </h1>
            <h2>Saba</h2>
                    
            <!-- Explanation Text -->
            <p class="body">
                5502, nach dem Zusammenbruch des Planeten Erde ist die Menschheit in die
Weiten der Galaxie geflüchtet. Nach Jahren im Weltraum und schwindenden
Vorräten musste auf dem nächstmöglichen Planeten notgelandet werden.
Planet “Saba” aus dem Weltraum eine gelbe Kugel, auf der Oberfläche nichts
außer Sand. Seit den Zeiten der Zerstreuung haben sich die Menschen auf
Saba Ihrem neuen Planeten angepasst. “Yashi”, kleine Kolonien, die sich über
die Jahrhunderte gebildet haben, sind in der Wüstenlandschaft verstreut. Um
der extremen Hitze zu entkommen ist eine enge Struktur entstanden, die un-
ter sich Schatten für das tägliche Leben bieten. In der Nacht, wenn sich Hitze
in extreme Kälte und Wüstenwinde wandelt, kann in den schützenden “Suna”
Zuflucht gefunden werden. Die aufgestellten Balas tanken am Tag die Strahlen
der Sonne und geben diese in der Nacht als gespeicherte Wärme wieder ab.
Die Yashi leben vom Wechsel zwischen Tag und Nacht, dem Leben auf dem
Wüstensand am Tag und auf und in den Balas in der Nacht. Als Bastionen ge-
gen die dauerhafte Kraft der Wüste bieten Sie Schutz und Zuflucht. Durch den
Mangel an Wasser und Nahrung sind die Yashi eng gestrickte Gemeinschaf-
ten, die zusammen von allen Bewohnern gleichermaßen genutzt werden.
            </p> 
        </div>
    </div>
    

    <!-- Fullscreen --> 

    <div id="FullImageView">
        <img id="FullImage">
        <span id="CloseButton" onclick="CloseFullView()"></span>
    </div>
 


    <!-- Mail Copy Button --> 

    <div class="Home">
        <button class="Home">
            <a href="/html/projects.html" class="hidden">&#9750; </a>
            <a href="/html/projects.html" class="shown">&#9751; </a>
        </button>
    </div>
    
</body>
</html>