<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport:" content="width=device-width, initial-scale=1.0">
    <title>bodenstein</title>
    <link rel="icon" href="/img/favicon/favicon.ico" type="image/icon">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/projectpage.css">
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/switchImg.js" defer></script>
    <script src="/js/fullscreen.js" defer></script>



</head>


<body>




    <!-- Image Gallery -->
    <div class="content">
        <div class="project">  
            <div class="small-img">
                <img class="picto" src="/Project 17/1.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 17/2.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 17/3.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 17/4.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 17/5.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 17/6.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 17/7.jpg" alt="" onclick="switchImg(this)">
                <img class="picto" src="/Project 17/8.jpg" alt="" onclick="switchImg(this)">




            </div>
            <div class="img-container">
                <img class="active" id="imageBox" src="/Project 17/1.jpg" ng-if="option=='image'" onclick="FullView(this.src)"> 
                <video class="active" id="vidBox" controls onclick="FullView(this.src)"> <source src="" type="video/mp4" ng-if="option=='video'"></video>
            </div> 
        </div>

  

        <!-- Title -->
        <div class="text">
            <h1 class="title">
                Cooling Clay
            </h1>
                    
            <!-- Explanation Text -->
            <p class="body">
                Porous ceramics have long been used as temperature regulating containers through evaporative cooling. This seminar investigated further applications of these concepts in contexts such as facades, walls and hanging installations. Combining the versatility and precision of robotic fabrication with the properties of terracotta led to intricate geometrical pieces that function simultaneously as all-natural cooling systems.
            </p> 
            <br><br>
            <p style="font-style:italic;font-size: small;">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                In Zusammenarbeit mit Philipp Baum, Fabian Uliczka
            </p>

        </div>
    </div>
    

    <!-- Fullscreen --> 

    <div id="FullImageView">
        <img id="FullImage">
        <span id="CloseButton" onclick="CloseFullView()"></span>
    </div>
 


    <!-- Mail Copy Button --> 

    <div class="Home">
        <button class="Home">
            <a href="/html/projects.html" class="hidden">&#9750; </a>
            <a href="/html/projects.html" class="shown">&#9751; </a>
        </button>
    </div>
    
</body>
</html>