<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport:" content="width=device-width, initial-scale=1.0">
    <title>bodenstein</title>
    <link rel="icon" href="/img/favicon/favicon.ico" type="image/icon">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/projectpage.css">
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/switchImg.js" defer></script>


</head>


<body>




    <!-- Image Gallery -->
    <div class="content">
        <div class="project">  
            <div class="small-img">
                <img class="picto" src="/img/projects/Raumsequenz/IMG_5466.JPG" alt="" onclick="switchImg(this)">
                <img class="picto" src="/img/projects/Raumsequenz/IMG_5469.JPG" alt="" onclick="switchImg(this)">
                <img class="picto" src="/img/projects/Raumsequenz/IMG_5475.JPG" alt="" onclick="switchImg(this)">
                <img class="picto" src="/img/projects/Raumsequenz/IMG_5486.JPG" alt="" onclick="switchImg(this)">
                <img class="picto" src="/img/projects/Raumsequenz/IMG_5489.JPG" alt="" onclick="switchImg(this)">
                <img class="picto" src="/img/projects/Raumsequenz/IMG_5493.JPG" alt="" onclick="switchImg(this)">
                <img class="picto" src="/img/projects/Raumsequenz/IMG_5469.JPG" alt="" onclick="switchImg(this)">


            </div>
            <div class="img-container">
                <img class="active" id="imageBox" src="/img/projects/Raumsequenz/IMG_5469.JPG" ng-if="option=='image'"> 
                <video class="active" id="imageBox2" autoplay controls muted> <source src="" type="video/mov" ng-if="option=='video'"></video>
            </div> 
        </div>

        <!-- Title -->
        <div class="text">
            <h1 class="title">
                Raumsequenz
            </h1>
                    
            <!-- Explanation Text -->
            <p class="body">
                
                Lorem ipsum Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                Lorem ipsum Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                Lorem ipsum Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                Lorem ipsum Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                Lorem ipsum Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p> 
        </div>
    </div>
    


 


    <!-- Mail Copy Button --> 

    <div class="Home">
        <button class="Home">
            <a href="/html/projects.html" class="hidden">&#9750; </a>
            <a href="/html/projects.html" class="shown">&#9751; </a>
        </button>
    </div>
    
</body>
</html>